---
layout: default
---
{% include head.html %}
<header>
  <h1 class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </h1>
</header>
  <body>
    <div class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="post-date">
        <time>{{ page.date | date_to_string }}</time>
      </span>
      <div class="post-tag">
        <ul>
          {% for tag in page.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
              <span class="term">{{ tag }}</span>
            </a>
          </li>
          {% unless forloop.last %}{% endunless %}
          {% endfor %}
        </ul>
      </div>

      {{ content }}


      <!-- Share -->
      {% if page.share != false %}
      <div class="post-share">
        <hr>
        {% include share.html %}
      </div>
      {% endif %}
      <div class="fb-like" data-href="https://eulirico.github.io/"
      data-layout="standard"
      data-action="like"
      data-size="small"
      data-show-faces="true"
      data-share="true">
    </div>
      <!-- Facebook Comments -->
        <div class="fb-comments" data-href="https://eulirico.github.io/" data-numposts="5"></div>

    </div>
    {% include scripts.html %}
  </body>
